@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #262626;
	--dark-color-b: #8e8e8e;
	--light-color: #fafafa;
	--accent-color: linear-gradient(to right, #f58529, #dd2a7b, #8134af, #515bd4);
	--error-color: #ed4956;
	--input-focus-color: #f1f1f1;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #06212f;
	margin: 0;
	padding: 0;
}
.link{
	text-decoration: none;
	color: rgb(22, 84, 255);
	margin: 1rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.btn {
	cursor: pointer;
	padding: 10px 20px;
	background: var(--accent-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	transition: background 0.3s;
}

.btn:hover {
	/* background: darken(var(--accent-color), 10%); */
	filter: drop-shadow(3px 4px 5px black);
}

.chat-container {
	width: 85vw;
    background: #000;
    margin: 20px auto;
    border: 1px solid var(--dark-color-b);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 95vh;
}

.chat-header {
	background: var(--accent-color);
	color: #fff;
	border-bottom: 1px solid var(--dark-color-b);
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-header h1 {
	font-size: 24px;
	font-weight: bold;
}

.chat-header .btn {
	background: var(--error-color);
}

.chat-main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 76.5vh;
}

.chat-sidebar {
	background: var(--dark-color-a);
	color: #fff;
	padding: 20px;
	border-right: 1px solid var(--dark-color-b);
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 18px;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
	color: white;
}

.chat-sidebar h3 {
	margin-bottom: 10px;
	font-weight: bold;
	color: white;
}

.chat-sidebar ul li {
	padding: 10px 0;
	font-size: 16px;
	color: white;
}

.chat-messages {
	padding: 20px;
    /* max-height: 500px; */
    overflow-y: scroll;
    background: #fff;
    height: 100%;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 15px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 14px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 5px;
}

.chat-messages .message .meta span {
	color: #999;
}

.chat-form-container {
	padding: 10px 20px;
	background-color: var(--dark-color-a);
	border-top: 1px solid var(--dark-color-b);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.chat-form-container form {
	display: flex;
	width: 100%;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	flex: 1;
	border: 1px solid var(--dark-color-b);
	border-radius: 20px;
	margin-right: 10px;
	background: var(--input-focus-color);
	color: black;
	transition: background 0.3s, color 0.3s;
}

.chat-form-container input[type='text']:focus {
	background: var(--input-focus-color);
	color: black;
}

.chat-form-container .btn {
	background: var(--accent-color);
	padding: 10px 15px;
	border-radius: 20px;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.chat-form-container .btn i {
	margin-left: 5px;
	margin-right: 0.5rem;
}

.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #262626;
	background: #fff;
	border: 1px solid var(--dark-color-b);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--accent-color);
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.join-main {
	padding: 30px 40px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.join-main input[type='text'],
.join-main select {
	font-size: 16px;
	padding: 10px;
	height: 40px;
	width: 100%;
	border: 1px solid var(--dark-color-b);
	border-radius: 5px;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
